{
  "openapi": "3.0.3",
  "info": {
    "title": "Tezos Systems Public Data",
    "version": "1.5.0",
    "description": "Read-only Tezos Systems metadata, generated research artifacts, and public browser datasets. Artifact fields disclose their own sources and observation times where applicable."
  },
  "servers": [
    {
      "url": "https://tezos.systems"
    }
  ],
  "paths": {
    "/version.json": {
      "get": {
        "operationId": "getBuildMetadata",
        "summary": "Get served build metadata",
        "description": "Current committed build stamp and latest user-facing change used by the site footer and update transmission.",
        "x-refresh-cadence": "Every normal commit",
        "x-license-boundary": "Repository-authored metadata is covered by MPL-2.0.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/protocol-data.json": {
      "get": {
        "operationId": "getProtocolHistory",
        "summary": "Get the curated Tezos protocol history",
        "description": "Protocol chronology, upgrade changes, debates, and source links.",
        "x-refresh-cadence": "When an accepted protocol or curated history changes",
        "x-license-boundary": "Original selection, arrangement, and commentary are CC BY 4.0 where owned; underlying facts and linked sources retain their source terms.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/protocol-debates.json": {
      "get": {
        "operationId": "getProtocolDebates",
        "summary": "Get sourced protocol debate records",
        "description": "Curated proposal debate, rejection, and contention narratives.",
        "x-refresh-cadence": "When protocol debate research is curated",
        "x-license-boundary": "Original selection, arrangement, and commentary are CC BY 4.0 where owned; quotations and linked sources retain their source terms.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/governance-votes.json": {
      "get": {
        "operationId": "getGovernanceVotes",
        "summary": "Get generated Tezos governance voting history",
        "description": "Voting-period and ballot receipts reconstructed from public chain data.",
        "x-refresh-cadence": "Every normal commit and scheduled generated refresh",
        "x-license-boundary": "Underlying chain facts retain their source terms; original selection, arrangement, and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/governance-refresh-report.json": {
      "get": {
        "operationId": "getGovernanceRefreshReport",
        "summary": "Get the governance freshness audit",
        "description": "Current protocol, voting-period, lore coverage, and stale-data blockers.",
        "x-refresh-cadence": "Every normal commit and scheduled generated refresh",
        "x-license-boundary": "Repository-authored audit structure and commentary are covered by MPL-2.0; underlying public facts retain their source terms.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/release-radar.json": {
      "get": {
        "operationId": "getReleaseRadar",
        "summary": "Get the reviewed Tezos Release Radar receipt",
        "description": "Short-lived Tezos X, Octez, and EVM-node release forecasts with separate dependency gates, confidence, horizons, exact blockers, recent releases, and primary evidence.",
        "x-refresh-cadence": "Reviewed daily; stale after 36 hours and removed from Live Pulse at the receipt expiry",
        "x-license-boundary": "Underlying release, roadmap, and governance facts retain their source terms; original selection, arrangement, and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/nakamoto-sources.json": {
      "get": {
        "operationId": "getNakamotoSources",
        "summary": "Get dated Nakamoto-coefficient source reports",
        "description": "Reproducible and manually curated concentration reports with provenance.",
        "x-refresh-cadence": "Scheduled generated refresh with last-known-good retention",
        "x-license-boundary": "Original selection and commentary are CC BY 4.0 where owned; third-party reports and measurements retain their source terms.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/chain-comparison-verification.json": {
      "get": {
        "operationId": "getChainComparisonVerification",
        "summary": "Get the monthly chain-comparison verification receipt",
        "description": "Displayed static comparison numbers with two distinct source checks, observed values, source hashes, and fail-closed status.",
        "x-refresh-cadence": "Monthly on the first day; the last-good snapshot remains when checks disagree",
        "x-license-boundary": "Underlying protocol facts and source documents retain their source terms; original verification structure and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/whale-watch.json": {
      "get": {
        "operationId": "getWhaleWatch",
        "summary": "Get the complete trailing-24-hour Whale Watch archive",
        "description": "Large-transfer receipts, grouped flows, dormant accounts, and awakenings.",
        "x-refresh-cadence": "Scheduled generated refresh",
        "x-license-boundary": "Underlying TzKT facts retain their source terms; original selection, arrangement, and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/capital-snapshot.json": {
      "get": {
        "operationId": "getCapitalSnapshot",
        "summary": "Get the complete Capital Chamber snapshot",
        "description": "Cross-layer activity, markets, assets, real-world assets, and art-economy receipts.",
        "x-refresh-cadence": "Scheduled generated refresh",
        "x-license-boundary": "Underlying API and chain facts retain their source terms; original selection, arrangement, and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/capital-entry-summary.json": {
      "get": {
        "operationId": "getCapitalEntrySummary",
        "summary": "Get the compact Capital launcher projection",
        "description": "The exact subset of the reviewed Capital snapshot rendered by the closed dashboard card.",
        "x-refresh-cadence": "After every Capital snapshot refresh",
        "x-license-boundary": "Derived facts retain their source terms; original projection structure and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/minerals-snapshot.json": {
      "get": {
        "operationId": "getMineralsSnapshot",
        "summary": "Get the complete Critical Minerals Chamber snapshot",
        "description": "The canonical 60-item 2025 U.S. critical-minerals taxonomy; form-specific 2021–2025 USGS production, import-reliance, and annual-price receipts; a bounded ten-product World Bank monthly market subset; and separate Metals.io-attributed xCo, xNi, and RARE product statements plus bounded Etherlink token-state receipts.",
        "x-refresh-cadence": "Scheduled generated refresh",
        "x-license-boundary": "Underlying Federal Register, USGS, World Bank, Metals.io, and Blockscout facts and data retain their source terms; original selection, arrangement, and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/minerals-entry-summary.json": {
      "get": {
        "operationId": "getMineralsEntrySummary",
        "summary": "Get the compact Critical Minerals launcher projection",
        "description": "The integrity-checked taxonomy, supply, market-coverage, Etherlink-product, and source-clock headline subset rendered before the complete Critical Minerals room opens.",
        "x-refresh-cadence": "After every Critical Minerals snapshot refresh",
        "x-license-boundary": "Derived facts retain their source terms; original projection structure and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/uranium-snapshot.json": {
      "get": {
        "operationId": "getUraniumSnapshot",
        "summary": "Get the complete Uranium Chamber snapshot",
        "description": "xU3O8 token markets, Kraken public-tape context, an indicative physical-uranium reference, dated custody evidence, Uranium.io protocol context, and Etherlink token receipts kept on separate source clocks.",
        "x-refresh-cadence": "Scheduled generated refresh",
        "x-license-boundary": "Underlying venue, issuer, chain, document, and API facts retain their source terms; original selection, arrangement, and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/uranium-entry-summary.json": {
      "get": {
        "operationId": "getUraniumEntrySummary",
        "summary": "Get the compact Uranium launcher projection",
        "description": "The integrity-checked market, physical-reference, reserve-date, and Etherlink headline subset rendered before the complete Uranium room opens.",
        "x-refresh-cadence": "After every Uranium snapshot refresh",
        "x-license-boundary": "Derived facts retain their source terms; original projection structure and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/metals-snapshot.json": {
      "get": {
        "operationId": "getMetalsSnapshot",
        "summary": "Get the complete Precious Metals Chamber snapshot",
        "description": "The canonical eight-metal taxonomy, source-separated public market observations where available, Metals.io listing status, and receipt-bounded VNXAU activity across Tezos and Etherlink.",
        "x-refresh-cadence": "Scheduled generated refresh",
        "x-license-boundary": "Underlying venue, issuer, chain, document, and API facts retain their source terms; original selection, arrangement, and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/metals-entry-summary.json": {
      "get": {
        "operationId": "getMetalsEntrySummary",
        "summary": "Get the compact Precious Metals launcher projection",
        "description": "The integrity-checked market, eight-metal coverage, source-clock, and VNXAU headline subset rendered before the complete Precious Metals room opens.",
        "x-refresh-cadence": "After every Precious Metals snapshot refresh",
        "x-license-boundary": "Derived facts retain their source terms; original projection structure and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/ecosystem-apps.json": {
      "get": {
        "operationId": "getEcosystemAppManifest",
        "summary": "Get the reviewed Ecosystem Activity app manifest",
        "description": "Disclosed app identities, layers, start times, contract-discovery rules, explicit addresses, and proof URLs.",
        "x-refresh-cadence": "When the reviewed tracked-app universe changes",
        "x-license-boundary": "Contract and chain facts retain their source terms; original selection, arrangement, and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/ecosystem-stats.json": {
      "get": {
        "operationId": "getEcosystemStats",
        "summary": "Get the complete Ecosystem Activity weekly ledger",
        "description": "Last-completed-week network-wide active-address totals, a separate partial current-week network pulse, reviewed-dapp rankings and history, methodology, and frozen contract receipts.",
        "x-refresh-cadence": "Scheduled generated refresh; recent completed weeks are deterministically rebuilt",
        "x-license-boundary": "Underlying TzKT and Blockscout facts retain their source terms; original selection, arrangement, and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/ecosystem-entry-summary.json": {
      "get": {
        "operationId": "getEcosystemEntrySummary",
        "summary": "Get the compact Ecosystem Activity launcher projection",
        "description": "The integrity-checked network-wide active-address headline, current-week pulse, reviewed-dapp total, trailing history, and leaders rendered before the full Ecosystem room opens.",
        "x-refresh-cadence": "After every Ecosystem Activity ledger refresh",
        "x-license-boundary": "Derived facts retain their source terms; original projection structure and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/maxis-leaders.json": {
      "get": {
        "operationId": "getMaxisLeaders",
        "summary": "Get the canonical mixed-clock Tezos Maxis snapshot",
        "description": "Ongoing lane leaders and rankings on their honestly labeled natural clocks.",
        "x-refresh-cadence": "Scheduled generated refresh",
        "x-license-boundary": "Underlying chain and API facts retain their source terms; original scoring presentation and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/maxis-careers.json": {
      "get": {
        "operationId": "getMaxisCareers",
        "summary": "Get mutable Tezos Maxis career records",
        "description": "All-history governance careers, voting-period receipts, streaks, and active-delegate ranks.",
        "x-refresh-cadence": "Scheduled generated refresh",
        "x-license-boundary": "Underlying chain facts retain their source terms; original selection, arrangement, and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/baker-governance-signals.json": {
      "get": {
        "operationId": "getBakerGovernanceSignals",
        "summary": "Get compact Baker Directory governance signals",
        "description": "Active-baker ballot totals, voting streaks, and accepted-proposal receipts projected from the complete governance ledgers.",
        "x-refresh-cadence": "Every generated governance and launcher refresh",
        "x-license-boundary": "Underlying chain facts retain their source terms; original selection, arrangement, and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/maxis-l2-governance.json": {
      "get": {
        "operationId": "getMaxisL2Governance",
        "summary": "Get the Etherlink governance career reconstruction",
        "description": "Completed FAST, SLOW, and Sequencer windows with participant receipts.",
        "x-refresh-cadence": "Scheduled generated refresh",
        "x-license-boundary": "Underlying Etherlink and TzKT facts retain their source terms; original reconstruction and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/maxis/manifest.json": {
      "get": {
        "operationId": "getMaxisManifest",
        "summary": "Get the Tezos Maxis season manifest",
        "description": "Active, settling, and finalized protocol-season catalogue.",
        "x-refresh-cadence": "Scheduled generated refresh and protocol lifecycle transitions",
        "x-license-boundary": "Underlying chain facts retain their source terms; original season catalogue structure and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/maxis/entry-summary.json": {
      "get": {
        "operationId": "getMaxisEntrySummary",
        "summary": "Get the compact Tezos Maxis launcher projection",
        "description": "The exact subset of reviewed ongoing and current-season artifacts rendered by the closed dashboard card.",
        "x-refresh-cadence": "After every Maxis, Maxis career, L2 governance, or season refresh",
        "x-license-boundary": "Derived facts retain their source terms; original projection structure and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/maxis/seasons/{seasonId}/summary.json": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SeasonId"
        }
      ],
      "get": {
        "operationId": "getMaxisSeasonSummary",
        "summary": "Get a protocol-season Maxis summary",
        "description": "Frozen or live category standings, honors, coverage, and integrity receipts.",
        "x-refresh-cadence": "Active and settling seasons refresh on the generated schedule; finalized seasons are immutable",
        "x-license-boundary": "Underlying chain and API facts retain their source terms; original scoring presentation and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/maxis/seasons/{seasonId}/rules.json": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SeasonId"
        }
      ],
      "get": {
        "operationId": "getMaxisSeasonRules",
        "summary": "Get a protocol-season Maxis rules receipt",
        "description": "Versioned evaluator, lane catalogue, boundaries, and immutable scoring terms.",
        "x-refresh-cadence": "Written when a season opens and frozen when finalized",
        "x-license-boundary": "Repository-authored rules and schema are covered by MPL-2.0; underlying public facts retain their source terms.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/maxis/seasons/{seasonId}/passports/{shard}.json": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SeasonId"
        },
        {
          "$ref": "#/components/parameters/PassportShard"
        }
      ],
      "get": {
        "operationId": "getMaxisPassportShard",
        "summary": "Get a sharded protocol-season Passport ledger",
        "description": "Address-indexed season progress and badge receipts for one hexadecimal shard.",
        "x-refresh-cadence": "Active and settling seasons refresh on the generated schedule; finalized seasons are immutable",
        "x-license-boundary": "Underlying chain and API facts retain their source terms; original selection and arrangement are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/tezoscrp-summary.json": {
      "get": {
        "operationId": "getTezosCrpSummary",
        "summary": "Get the compact TezosCRP recognition summary",
        "description": "Latest official winners and totals reconciled to the complete recognition archive.",
        "x-refresh-cadence": "Twice-monthly source check; changes only for a new official award period",
        "x-license-boundary": "Official names, categories, and announcements retain their source terms; original selection and arrangement are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/tezoscrp-awards.json": {
      "get": {
        "operationId": "getTezosCrpAwards",
        "summary": "Get the complete sourced TezosCRP archive",
        "description": "Published recipients, categories, periods, identity evidence, and official source receipts.",
        "x-refresh-cadence": "Twice-monthly source check; changes only for a new official award period",
        "x-license-boundary": "Official names, categories, icons, and announcements retain their source terms; original selection, arrangement, and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/milestone-catalog.json": {
      "get": {
        "operationId": "getMilestoneCatalog",
        "summary": "Get shared Tezos milestone receipts",
        "description": "Network thresholds, exact crossings, and bounded recent celebration windows.",
        "x-refresh-cadence": "After 14 days or 100 commits, with forced scheduled refresh support",
        "x-license-boundary": "Underlying chain and TzKT facts retain their source terms; original selection, arrangement, and commentary are CC BY 4.0 where owned.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/search-catalog.json": {
      "get": {
        "operationId": "getSearchCatalog",
        "summary": "Get the compact Tezos Systems search catalog",
        "description": "Reviewed ecosystem apps, TezosCRP identities, protocol debates, and network milestone tracks projected for browser search.",
        "x-refresh-cadence": "Regenerated whenever a contributing source or the canonical site map changes",
        "x-license-boundary": "Repository-authored schema and projection logic are covered by MPL-2.0; source facts, aliases, and official recognition records retain their source terms.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    },
    "/data/my-tezos-contracts.json": {
      "get": {
        "operationId": "getMyTezosContractRegistry",
        "summary": "Get the reviewed My Tezos contract registry",
        "description": "Address classification rules used to label personal activity without inferring ownership.",
        "x-refresh-cadence": "When reviewed contract classifications change",
        "x-license-boundary": "Repository-authored classifications and schema are covered by MPL-2.0; third-party contract facts retain their source terms.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonDocument"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "SeasonId": {
        "name": "seasonId",
        "in": "path",
        "required": true,
        "description": "Manifest season identifier.",
        "schema": {
          "type": "string"
        }
      },
      "PassportShard": {
        "name": "shard",
        "in": "path",
        "required": true,
        "description": "Two-character lowercase hexadecimal Passport shard in the current 64-shard range 00..3f.",
        "schema": {
          "type": "string",
          "pattern": "^(?:[0-3][0-9a-f])$"
        }
      }
    },
    "schemas": {
      "JsonDocument": {
        "type": "object",
        "additionalProperties": true
      }
    },
    "responses": {
      "JsonDocument": {
        "description": "A Tezos Systems JSON document",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/JsonDocument"
            }
          }
        }
      }
    }
  }
}
